<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="assets/css/rs.css">
  <link href="assets/css/bootstrap.css" rel="stylesheet">
  <link href="assets/css/cd.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
  {{!-- <link rel="stylesheet" href="assets/css/style2.css"> --}}
  <script src="/socket.io/socket.io.js" charset="utf-8"></script>
</head>

<body onload="startTime()">
  <script type="text/javascript" src="assets/js/boot.js"></script>
  <script src="assets/js/aga.js" charset="utf-8"></script>
  <script src="assets/js/aru.js" charset="utf-8"></script>
  {{{body}}}

  <script type="text/javascript" src="assets/js/asa.js"></script>
  <script type="text/javascript" src="assets/js/ala.js"></script>
  <script type="text/javascript" src="assets/js/aku.js"></script>
  </script>
  <script src="assets/js/loar.js"></script>
  <script src="assets/js/script.js" charset="utf-8"></script>
</body>

</html>